
/* _custom.scss - OMA 2020 */

.tp-caption {text-shadow: 0 0 5px white, 0 0 15px white;}

.home-button
{
    background-color: $color-theme;
    color: $color-body !important;
    opacity: 1 !important;
}

.theme-bkg {background-color: $color-theme-dark !important;}

sup {font-size: 0.65em;}

#modalYoutube {background-color: $color-theme-dark !important;}

.iframe-wrap {margin-top: 38px;}

.icon-logo-dims
{
    width: 110px !important;
    height: 110px !important;
}

#map_desc_text {margin-right: 30px;}

.hide {display: none;}

#footer-links i
{
    width: 16px;
    text-align: center;
}

