/* _custom.scss - OMA 2020 */

.tp-caption {
    text-shadow: 0 0 5px white, 0 0 15px white;
}

.home-button {
    background-color: $color-theme;
    color: $color-body !important;
    opacity: 1 !important;
}

.theme-bkg {
    background-color: $color-theme-dark !important;
}

sup {
    font-size: 0.65em;
}

#modalYoutube {
    background-color: $color-theme-dark !important;
}

.iframe-wrap {
    margin-top: 38px;
}

.icon-logo-dims {
    width: 110px !important;
    height: 110px !important;
}

#map_desc_text {
    margin-right: 30px;
}

.hide {
    display: none;
}

#footer-links i {
    width: 16px;
    text-align: center;
}

#canvas {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

#sec5-portrait-msg
{
    display: none;
    text-align: center;
    font-weight: bold;
}
@media all and (orientation:portrait) and (max-width: 550px)
{
    #sec5-portrait-msg {display: block !important;}
}

$sec2-ht: 620px;
$sec3-ht: 620px;

$sec5-ht: 590px;
$sec6-ht: 620px;

$sec8-ht: 780px;
$sec9-ht: 750px;

.sec2-ht {height: $sec2-ht;}
.sec3-ht {height: $sec3-ht;}

.sec5-ht {height: $sec5-ht;}
.sec6-ht {height: $sec6-ht;}

.sec8-ht {height: $sec8-ht;}
.sec9-ht {height: $sec9-ht;}

@media (max-width: 1590px) {
    .sec5-ht {height: $sec5-ht + 30 + 20;}
    .sec6-ht {height: $sec6-ht + 50 + 20;}

    .sec8-ht {height: $sec8-ht + 50 + 20 + 15;}
    .sec9-ht {height: $sec9-ht + 50 + 20;}
}

@media (max-width: 1455px) {
    .sec5-ht {height: $sec5-ht + 50 + 20;}
    .sec6-ht {height: $sec6-ht + 75 + 20;}

    .sec8-ht {height: $sec8-ht + 100 + 20 + 15;}
    .sec9-ht {height: $sec9-ht + 100 + 20;}
}

@media (max-width: 1300px) {
    .sec2-ht {height: $sec2-ht + 25 + 20;}

    .sec5-ht {height: $sec5-ht + 75 + 20;}
    .sec6-ht {height: $sec6-ht + 100 + 20;}

    .sec8-ht {height: $sec8-ht + 175 + 20 + 15;}
    .sec9-ht {height: $sec9-ht + 175 + 20;}
}

@media (max-width: 1205px) {
    .sec2-ht {height: $sec2-ht + 45 + 20;}

    .sec5-ht {height: $sec5-ht + 100 + 20;}
    .sec6-ht {height: $sec6-ht + 125 + 20;}

    .sec8-ht {height: $sec8-ht + 200 + 20 + 15;}
    .sec9-ht {height: $sec9-ht + 200 + 20;}
}

@media (max-width: 1150px) {
    .sec2-ht {height: $sec2-ht + 60 + 20;}

    .sec5-ht {height: $sec5-ht + 150 + 20;}
    .sec6-ht {height: $sec6-ht + 175 + 20;}

    .sec8-ht {height: $sec8-ht + 250 + 20 + 15;}
    .sec9-ht {height: $sec9-ht + 250 + 20;}
}

@media (max-width: 1100px) {
    .sec2-ht {height: $sec2-ht + 75 + 20;}
    .sec3-ht {height: $sec3-ht + 5 + 20;}

    .sec5-ht {height: $sec5-ht + 200 + 20;}
    .sec6-ht {height: $sec6-ht + 225 + 20;}

    .sec8-ht {height: $sec8-ht + 275 + 20 + 15;}
    .sec9-ht {height: $sec9-ht + 275 + 20;}
}

@media (max-width: 1050px) {
    .sec2-ht {height: $sec2-ht + 100 + 20;}
    .sec3-ht {height: $sec3-ht + 25 + 20;}

    .sec5-ht {height: $sec5-ht + 250 + 20;}
    .sec6-ht {height: $sec6-ht + 275 + 20;}

    .sec8-ht {height: $sec8-ht + 375 + 20 + 15;}
    .sec9-ht {height: $sec9-ht + 325 + 20;}
}

@media (max-width: 991px) {
    .sec2-ht {height: auto; min-height: 50vw; padding-bottom: 0 !important;}
    .sec3-ht {height: auto; min-height: 50vw; padding-top: 0 !important;}

    .sec5-ht {height: auto; min-height: 500px; padding-bottom: 0 !important;}
    .sec6-ht {height: auto; min-height: 50vw; padding-top: 0 !important;}

    .sec8-ht {height: auto; min-height: 50vw;}
    .sec9-ht {height: auto; min-height: 50vw;}

    #video_click {display: none;}
    #watch_btn {position: absolute;}
}

@media (min-width: 992px) {
    #video_touch {display: none;}
}

#video_click, #video_touch {
    font-weight: bold;
    font-size: 1.5em;
    margin: -4px 0 0 10px;
    cursor: pointer;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff;
    }

    to {
        text-shadow: none;
    }
}

.p-b-20 {font-size: 22px;}
